extends layout

block content
  h1= title
  p Welcome to #[em Sadie's Pottery Inventory Management], an Express website developed for an assignment as part of The Odin Project.

  p The pottery inventory has the following record counts:

  ul
    li #[strong Items:] !{item_count}
    li #[strong Categories:] !{book_instance_count}
    li #[strong Copies available:] !{book_instance_available_count}
    li #[strong Authors:] !{author_count}
    li #[strong Genres:] !{genre_count}
