extends layout

block content
  h1= title
  p Welcome to the #[em Pottery Inventory Management Service], an Express website developed for an assignment as part of The Odin Project.

  p The current pottery inventory has the following record counts:

  ul
    li #[strong Items:] !{item_count}
    li #[strong Categories:] !{category_count}
    li #[strong Types:] !{type_count}
    li #[strong Creators:] !{creator_count}
